body {
  font-family: 'Roboto Mono';
}

.logo {
  text-decoration: none;
  color: #2196f3;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

footer {
  background-color: rgb(72, 72, 72);
}
