/* ----- */
:root {
  --dominant-text-color: #212121;
  --logo-color: #2196f3;
  --navigation-link-color: #212121;
  --focus-link-color: #2196f3;
  --focus-contact-color: #2196f3;
  --header-contact-color: #757575;
  --hero-text-color: #ffffff;
  --hero-button-background-color: #2196f3;
  --hero-button-text-color: #ffffff;
  --Feature-subtitle-color: #757575;
  --team-subtitle-color: #757575;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --batton-filter-focus-background-color: #2196f3;
  --batton-filter-background-color: #f5f4fa;
  --projects-subtitle-color: #757575;
}

/* --------------- */
body {
  font-family: 'Roboto';
  color: var(--dominant-text-color--);
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* --------------------------LOGO-------------------------- */
.logo {
  text-decoration: none;
  color: var(--logo-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
/* --------------------------HEADER-------------------------- */

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--navigation-link-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--focus-link-color);
}
.header-tel:focus,
.header-tel:hover,
.header-mail:focus,
.header-mail:hover {
  color: var(--focus-contact-color);
}

.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contact-color);
}

/* --------------------------HERO-------------------------- */

.hero {
  background-color: #2f303a;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
}
.hero-button {
  color: var(--hero-button-text-color);
}
